<div class="app">

    <ul class="guilds">
        <span class="server-name">{{guild.name}}</span>
        {{#each guilds}}
        <li onclick="loadPage('/app/guild/{{toString this._id}}');"
            onmouseover="serverName($(this), '{{this.name}}');"
            onmouseout="$('.app .guilds .server-name').hide();">
            <img src="{{this.icon}}">
        </li>
        {{/each}}
        <li class="btn" onclick="
        const name = prompt('Insira o nome do servidor');
        post('/app/guild/create', {name});
        ">
            <i class="fas fa-plus icon"></i>
        </li>
    </ul>

</div>